*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #B9144F;
    --form-color: #B0001A;
    --button-background: #CCCCCC;
    --text-white: #ffffff;
    --button-focus: #E68A1A;
    --background-gray: #808080;
}

body{
    background-color: var(--primary-color);
    font-family: sans-serif;
    text-align: center;
}


.d-flex{
    display: flex;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.justify-center{
    justify-content: center;
}

h2{
    color: var(--text-white);
    margin-top: 20px;
    font-size: 2rem;
}

.container{
    width: 80%;
    max-width: 1170px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
}

.formContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2.5px 25px 0px rgba(0,0,0,0.5);

}


.formContainer label{
    color: var(--form-color);
    margin-bottom: 16px;
}

.formContainer input, 
.formContainer select{
    background-color: #ffffff;
    border: 1.5px solid var(--form-color);
    border-radius: 5px;
    text-align: center;
    padding: 8px 5px;
    font-weight: 600;
}

.inputContainer{
    margin: 0 30px;
}

.nameContainer{
    background-color: var(--background-gray);
}

.container button{
    margin: 0 10px;
}

.container button{
    background-color: var(--button-background);
    color: var(--form-color);
    border: 1px solid var(--background-gray);
    border-radius: 5px;
    padding: 8px 5px;
    font-weight: bold;
}

.container button.focus{
    border-width: 2px;
    border-color: var(--button-focus);
}

.rounded{
    border-radius: 20px;
}

.formInfo{
    margin-bottom: 50px;
}

.ticketContainer{
    margin-bottom: 50px;
    text-align: left;
}

.tableContainer{
    flex-grow: 1;
    border-top: 1.5px solid var(--background-gray);
    border-bottom: 1.5px solid var(--background-gray);
}

.tableContainer table{
    width: 100%;

}

.tableContainer table th{
    padding-bottom: 50px;
}

.nameContainer, .tableContainer{
    padding: 24px 20px;
}

#nameSlot{
    font-weight: bold;
    font-size: large;
}